<!-- begin Projects -->
<section class="content-section projects">
	<header class="section-header">
		<a id="user-content-projects" class="anchor" href="#" aria-hidden="true"></a>
		<h2><a href="#user-content-projects">{{ site.resume_section_labels.projects }}</a></h2>
	</header>

	{% for project in site.data.projects %}
	<div class="resume-item" itemscope itemprop="worksFor" itemtype="https://schema.org/Organization">
		<h3 class="resume-item-title" itemprop="name">{{ project.project }}</h3>
		<h4 class="resume-item-details" itemprop="description">
			<span class="left">{{ project.role }}</span>
			{% if project.duration %}
			<span class="right">{{ project.duration }}</span>
			{% endif %}
		</h4>
		<br />
		<div class="resume-item-copy">{{ project.description | markdownify }}</div>
	</div>
	{% endfor %}

</section>
<!-- end Projects -->
