// Base styles
// ---------------------------------------/
:root {
	--body-bg: $white;
	--body-color: $text_color;
}

@media (prefers-color-scheme: dark) {
	:root {
		--body-bg: $black;
		--body-color: $white;
	}
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background: var(--body-bg);
}

body {
	@include serif;
	color: var(--body-color);
	font-size: 16px;
	line-height: 1.5;
}

.wrapper:before,
.wrapper:after {
	content: "";
	display: table;
}

.wrapper:after {
	clear: both;
}

.wrapper {
	max-width: $wrapper-width;
	padding: 0 24px;
	margin: 0 auto;
	zoom: 1;
}

// clearfix (now called group,
// via http://css-tricks.com/snippets/css/clear-fix/)
.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

::-moz-selection {
	background: var(--body-color);
	color: var(--body-bg);
	opacity: 80%;
	text-shadow: none;
}

::selection {
	background: var(--body-color);
	color: var(--body-bg);
	opacity: 80%;
	text-shadow: none;
}

.left {
	float: left;
}

.right {
	float: right;
}
