<!DOCTYPE html>
<html lang="en_US">

{% include head.html %}

<body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

<div class="wrapper" itemscope itemtype="https://schema.org/Person">

	{% include header.html %}

	{% if site.resume_section_skills %}
		{% include sections/skills.html %}
	{% endif %}

	{% if site.resume_section_projects %}
		{% include sections/projects.html %}
	{% endif %}

	{% if site.resume_section_experience %}
		{% include sections/experience.html %}
	{% endif %}

	{% if site.resume_section_education %}
		{% include sections/education.html %}
	{% endif %}

	{% if site.resume_section_recognition %}
	{% include sections/recognition.html %}
	{% endif %}

	{% if site.resume_section_associations %}
		{% include sections/associations.html %}
	{% endif %}

	{% if site.resume_section_links %}
		{% include sections/links.html %}
	{% endif %}

	{% if site.resume_print_social_links %}
		{% include sections/social-links.html %}
	{% endif %}

	{% include footer.html %}

</div>

</body>
</html>
